%aclear {
	content: '';
	display: block;
	clear: both;
}

%flexbox {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}

%laycenter {
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-pack: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-align: center;
	box-align: center;
}