<extend name="base"/>
<block name="head">
	<meta charset="UTF-8"/>
	<title>Document</title>
	<link rel="stylesheet" href="http://g.alicdn.com/sj/dpl/1.5.1/css/sui.min.css"/>
	<link rel="stylesheet" href="__STATIC__/css/style.css"/>
	<link rel="stylesheet" href="http://cdn.bootcss.com/datatables/1.10.12/css/jquery.dataTables.min.css"/>
	<script src="__STATIC__/js/jquery.min.js"></script>
	<script src="http://g.alicdn.com/sj/dpl/1.5.1/js/sui.min.js"></script>
	<script src="http://cdn.bootcss.com/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
</block>
<block name="main">
	<ul class="sui-breadcrumb">
		<li><a href="#">文章</a></li>
		<li class="active">文章列表</li>
	</ul>
	<div class="main-content">
		<table class="infos">
			<thead>
			<tr>
				<th>选择</th>
				<th>id</th>
				<th>标题</th>
				<th>点击数</th>
				<th>点赞数</th>
				<th>创建时间</th>
				<th>更新时间</th>
				<th>操作</th>
			</tr>
			</thead>
			<tbody>
			<volist name="list" id="data">
				<tr>
					<td>
						<input type="checkbox">
					</td>
					<td>{$data['id']}</td>
					<td>{$data['title']}</td>
					<td>{$data['views']}</td>
					<td>{$data['likes']}</td>
					<td><?= date("Y-m-d H:i:s", $data['create_time']) ?></td>
					<td><?= date("Y-m-d H:i:s", $data['update_time']) ?></td>
					<td>
						<a href="{:U('Admin/Index/update', array('id'=>$data['id']))}">编辑</a>
						<a href="{:U('Admin/Index/update', array('id'=>$data['id'],'delete'=>1))}"
						   onclick="javascript:if(confirm('确定要删除此信息吗？')){alert('删除成功！');return true;}return false;">删除</a>
					</td>
				</tr>
			</volist>
			</tbody>
		</table>
		<div class="sui-btn-toolbar">
			<div class="sui-btn-group">
				<button class="sui-btn btn-large">全选</button>
				<button class="sui-btn btn-danger btn-large">删除</button>
				<a href="{:U('Index/update')}" class="sui-btn btn-primary btn-large">新建</a>
			</div>
		</div>
	</div>
</block>
<block name="script">
	<script>
		$(document).ready(function () {
			$('.infos').DataTable({});
		});
	</script>
</block>