<extend name="base" />
<block name="head">
	<head>
		<meta charset="UTF-8"/>
		<title>Document</title>
		<link rel="stylesheet" href="http://g.alicdn.com/sj/dpl/1.5.1/css/sui.min.css"/>
		<link rel="stylesheet" href="__STATIC__/wang-editor/wangEditor.min.css">
		<link rel="stylesheet" href="__STATIC__/css/style.css"/>
		<script src="__STATIC__/js/jquery.min.js"></script>
		<script src="http://g.alicdn.com/sj/dpl/1.5.1/js/sui.min.js"></script>
		<script src="__STATIC__/js/showdown.min.js"></script>
		<script src="__STATIC__/wang-editor/wangEditor.min.js"></script>
	</head>
</block>
<block name="main">
	<div class="main-content">
		<form class="sui-form form-horizontal" action="?submit=1" method="post" onsubmit="return getVal()">
			<div class="control-group">
				<label class="control-label v-top"><b style="color: #f00;">*</b>
					<span style="padding: 0 2em 0 0 ;">标</span>题：
				</label>
				<input type="text" name="vars[title]" value="" class="input-xlarge">
				<div class="controls">
					<div class="sui-msg msg-error msg-clear help-block">
						<div class="msg-con">该项为必填项</div>
						<s class="msg-icon"></s>
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label v-top"><b style="color: #f00;">*</b>
					<span style="padding: 0 2em 0 0 ;">标</span>签：
				</label>
				<input type="text" value="" name="vars[tag]" class="input-xlarge">
				<div class="controls">
					<div class="sui-msg msg-error msg-clear help-block">
						<div class="msg-con">该项为必填项</div>
						<s class="msg-icon"></s>
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label v-top">
					<span style="padding: 0 .5em 0 0 ;">浏</span><span style="padding: 0 .5em 0 0 ;">览</span>量：
				</label>
				<input type="text" value="" name="vars[views]" class="input-xlarge">
				<div class="controls">
					<div class="sui-msg msg-error msg-clear help-block">
						<div class="msg-con">格式错误，应该为数字</div>
						<s class="msg-icon"></s>
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label v-top">
					<span style="padding: 0 .5em 0 0 ;">点</span><span style="padding: 0 .5em 0 0 ;">赞</span>数：
				</label>
				<input type="text" value="" name="vars[likes]" class="input-xlarge">
				<div class="controls">
					<div class="sui-msg msg-error msg-clear help-block">
						<div class="msg-con">格式错误，应该为数字</div>
						<s class="msg-icon"></s>
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label v-top">
					<span style="padding: 0 .5em 0 0 ;">评</span><span style="padding: 0 .5em 0 0 ;">论</span>数：
				</label>
				<span class="input-xlarge uneditable-input">0</span>
			</div>
			<div class="control-group">
				<label class="control-label v-top">
					<span style="padding: 0 2em 0 0 ;">概</span>要：
				</label>
				<div class="controls">
					<textarea id="summary" name="vars[summary]" style="height:300px">请输入内容</textarea>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label v-top">
					<span style="padding: 0 2em 0 0 ;">内</span>容：
				</label>
				<div class="controls">
					<textarea id="content" name="vars[content]" style="height:300px">请输入内容</textarea>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label v-top">
					<span style="padding: 0 2em 0 0 ;">操</span>作：
				</label>
				<div class="controls">
					<input type="submit" class="sui-btn btn-xlarge btn-primary" value="提交">
				</div>
			</div>
		</form>
	</div>
</block>
<block name="script">
	<script>
		var summary = new wangEditor('summary');
		var content = new wangEditor('content');
		summary.config.menus = $.map(wangEditor.config.menus, function (item, key) {
			if (item === 'location') {
				return null;
			}
			return item
		});
		content.config.menus = $.map(wangEditor.config.menus, function (item, key) {
			if (item === 'location') {
				return null;
			}
			return item
		});
		summary.create();
		content.create();
		function getVal() {

			console.log(summary.$txt.html());
			console.log('hr');
			console.log(summary.$txt.text());
			console.log('hr');
			console.log(summary.$txt.formatText());
			console.log('end');
			return false;
		}
	</script>
</block>