@import "normalize.css", "../fonts/iconfont.css", "variable", "extend", "mixin";
body {
    font-family: "microsoft yahei", "Helvetica Neue", Helvetica, sans-serif;
    background-color: #f6f6f6;
}
a {
    color: inherit;
    text-decoration: none;
}
.main-header {
    padding: 20px 0;
    &::after {
        @extend %aclear;
    }
    .logo {
        font-size: 35px;
        font-weight: 700;
        border-right: 1px solid #ddd;
        float: left;
        padding: 0 20px 0 0;
    }
    .summary {
        float: left;
        font-size: 14px;
        color: $orange;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        width: 17em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .sarea {
        float: right;
    }
    .sbar {
        float: left;
        border: 1px solid #ddd;
        padding: 0 0.8em;
        margin: 0;
        background-color: #ffffff;
        height: 33px;
        width: 250px;
        margin-right: 1em;
    }
    .sbtn {
        float: left;
        border: 0;
        padding: 0;
        margin: 0;
        height: 35px;
        width: 76px;
        text-align: center;
        background-color: $red;
        color: #ffffff;
        font-size: 14px;
    }
}
.main-navbar {
    background-color: #474546;
    color: #ffffff;
    line-height: 44px;
    ul,
    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .level1 {
        &::after {
            @extend %aclear;
        }
        & > li {
            float: left;
            border-right: 1px solid #5A5859;
            margin-right: -1px;
            position: relative;
            &:hover {
                background-color: #000000;
            }
            &:hover {
                .level2 {
                    display: block;
                }
            }
        }
        a {
            display: block;
            padding: 0 0.8em;
        }
        .level2 {
            z-index: 10;
            display: none;
            &::after {
                @extend %aclear;
            }
            position: absolute;
            left: 0;
            top: 100%;
            background-color: #000000;
            & > li {
                float: left;
                white-space: nowrap;
                &:hover {
                    color: $orange;
                }
            }
        }
    }
}
@media screen and (max-width: 959px) {
    .mb {
        display: block;
    }
    .pc {
        display: none;
    }
    .main {
        width: auto;
    }
}
@media screen and (min-width: 960px) {
    .mb {
        display: none;
    }
    .pc {
        display: block;
    }
    .main {
        width: 94%;
        margin: 0 auto;
    }
}
.main-header-res {
    text-align: center;
    padding: 3%;
    .logo {
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .summary {
        font-size: 14px;
        color: $orange;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-bottom: 10px;
    }
    .sarea {
        @extend %flexbox;
        @extend %laycenter;
    }
    .sbar {
        display: inline-block;
        border: 1px solid #ddd;
        padding: 0 0.8em;
        margin: 0;
        background-color: #ffffff;
        height: 33px;
        width: 10em;
        margin-right: 1em;
    }
    .sbtn {
        display: inline-block;
        border: 0;
        padding: 0;
        margin: 0;
        height: 35px;
        width: 76px;
        text-align: center;
        background-color: $red;
        color: #ffffff;
        font-size: 14px;
    }
}
.main-navbar-res {
    background-color: #474546;
    color: #ffffff;
    margin: 3%;
    .header {
        height: 44px;
        line-height: 44px;
        position: relative;
        padding: 0 10px;
        border-bottom: 1px solid #666;
        cursor: pointer;
        .iconfont {
            position: absolute;
            right: 0;
            right: 10px;
        }
    }
    ul,
    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .level1 {
        display: none;
        & > li {
            border-bottom: 1px solid #666;
        }
        a {
            display: block;
            padding: 0 10px;
            line-height: 44px;
        }
        .level2 {
            & > li {
                background-color: #605e5f;
                border-bottom: 1px solid #666;
            }
            a {
                line-height: 36px;
            }
        }
    }
}
.main-container {
    @extend %flexbox;
    .col-main {
        @include flex(3);
        .artivel-list {
            .item {
                margin: 3%;
                @media screen and (min-width: 960px) {
                    margin: auto auto 2em;
                }
                .title {
                    color: $orange;
                    margin-bottom: 10px;
                    a {
                        display: block;
                    }
                }
            }
            .content {
                font-size: 12px;
                border-bottom: 1px solid #ddd;
            }
            .taglist {
                margin-bottom: 10px;
            }
            .tag {
                position: relative;
                font-size: 14px;
                padding-left: 1.3em;
                color: #999999;
                line-height: 1.37;
                margin-right: 1em;
                .iconfont {
                    position: absolute;
                    width: 1em;
                    left: 0;
                    top: 0;
                }
            }
        }
    }
    .sidebar-second {
        @include flex(1);
        margin-left: 10px;
        @media screen and (max-width: 959px) {
            display: none;
        }
        .right-nav {
            font-size: 14px;
            header {
                border-bottom: 2px solid $red;
                &::after {
                    @extend %aclear;
                }
                span {
                    padding: 0.5em 1.5em;
                    float: left;
                    color: #ffffff;
                    background-color: $red;
                }
            }
            ul {
                padding-left: 1.5em;
                line-height: 1.75em;
            }
            .tagcontent {
                padding: 1em 0;
                a {
                    display: inline-block;
                    padding: 0.2em 0.5em;
                    margin: 0 0.5em 0.3em 0;
                    color: #ffffff;
                    &:nth-child(7n-1) {
                        background-color: darken(#FF0000, 20%);
                    }
                    &:nth-child(7n-2) {
                        background-color: darken(#FF7D00, 20%);
                    }
                    &:nth-child(7n-3) {
                        background-color: darken(#FFFF00, 20%);
                    }
                    &:nth-child(7n-4) {
                        background-color: darken(#00FF00, 20%);
                    }
                    &:nth-child(7n-5) {
                        background-color: darken(#0000FF, 20%);
                    }
                    &:nth-child(7n-6) {
                        background-color: darken(#00FFFF, 20%);
                    }
                    &:nth-child(7n) {
                        background-color: darken(#FF00FF, 20%);
                    }
                }
            }
        }
    }
}
.main-footer {
    background-color: #ffffff;
    border-top: 2px double #ddd;
    padding: 1em 0;
    text-align: center;
    font-size: 12px;
}
.ui-breadcrumb {
    padding: 9px 0;
    margin: 0 0 18px;
    list-style: none;
    font-weight: normal;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    & > li {
        display: inline-block;
        line-height: 18px;
        &+li:before {
            content: "/\00a0";
            padding: 0 5px;
            color: #ccc;
        }
    }
    a {
        color: #28a3ef;
        text-decoration: none;
    }
    .active {
        color: #999;
    }
}
