<!doctype html>
<html>

<head>
    <meta charset="UTF-8"/>
    <title>Document</title>
    <link rel="stylesheet" href="css/sui.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="js/jquery.min.js"></script>
    <script src="js/sui.min.js"></script>
	<link rel="stylesheet" href="http://cdn.bootcss.com/datatables/1.10.12/css/jquery.dataTables.min.css"/>
	<script src="http://cdn.bootcss.com/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
</head>

<body>
<div class="page">
    <div class="sui-navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="sui-container"><a href="./index.html" class="sui-brand">Admin</a>
                <ul class="sui-nav">
                    <li class="active"><a href="#">控制台</a></li>
                </ul>
                <ul class="sui-nav pull-right">
                    <li class="sui-dropdown"><a href="javascript:void(0);" data-toggle="dropdown"
                                                class="dropdown-toggle">admin</a>
                        <ul role="menu" class="sui-dropdown-menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">退出</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">关于</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="sui-form sui-form pull-right">
                    <input type="text" placeholder="宝贝/店铺名称...">
                    <button class="sui-btn">搜索</button>
                </form>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="main-left">
            <ul class="sui-nav nav-list">
                <li class="nav-header">服装</li>
                <li class="active"><a>阿迪达斯</a></li>
                <li><a>耐克</a></li>
                <li><a>匡威</a></li>
                <li class="nav-header">美食</li>
                <li><a>湘菜 </a></li>
                <li><a>自助</a></li>
                <li><a>日料</a></li>
            </ul>
        </div>
        <div class="main">
            <ul class="sui-breadcrumb">
                <li><a href="#">首页</a></li>
                <li><a href="#">手机数码、电脑办公</a></li>
                <li class="active">智能手机</li>
            </ul>
            <div class="main-content">
                <table class="infos">
                    <thead>
                    <tr>
                        <th>选择</th>
                        <th>id</th>
                        <th>email</th>
                        <th>创建时间</th>
                        <th>更新时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="checkbox"/></td>
                        <td>所有交易</td>
                        <td>9999.00</td>
                        <td>999</td>
                        <td>99999.00</td>
                        <td>
                            <a href="#">编辑</a>
                            <a href="#">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"/></td>
                        <td>待付款</td>
                        <td>9999.00</td>
                        <td>999</td>
                        <td>99999.00</td>
                        <td>
                            <a href="#">编辑</a>
                            <a href="#">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"/></td>
                        <td>已发货</td>
                        <td>9999.00</td>
                        <td>999</td>
                        <td>99999.00</td>
                        <td>
                            <a href="#">编辑</a>
                            <a href="#">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"/></td>
                        <td>已成功</td>
                        <td>9999.00</td>
                        <td>999</td>
                        <td>99999.00</td>
                        <td>
                            <a href="#">编辑</a>
                            <a href="#">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="sui-btn-toolbar">
                    <div class="sui-btn-group">
                        <button class="sui-btn btn-large">全选</button>
                        <button class="sui-btn btn-danger btn-large">删除</button>
                        <a href="#" class="sui-btn btn-primary btn-large">新建</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.infos').DataTable({
            "language": {
                "lengthMenu": "每页 _MENU_ 条记录",
                "zeroRecords": "没有找到记录",
                "info": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
                "infoEmpty": "无记录",
                "infoFiltered": "(从 _MAX_ 条记录过滤)",
                "search": "查找:",
                "paginate": {
                    "first": "第一页",
                    "last": "最后一页",
                    "next": "下一页",
                    "previous": "上一页"
                }
            }
        });
    });
</script>
</body>

</html>