<!doctype html>
<html>

	<head>
		<meta charset="UTF-8" />
		<title>Document</title>
		<link rel="stylesheet" href="css/sui.min.css" />
		<link rel="stylesheet" href="css/style.css" />
		<script src="js/jquery.min.js"></script>
		<script src="js/sui.min.js"></script>
	</head>

	<body>
		<div class="sui-navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="sui-container"><a href="./index.html" class="sui-brand">Admin</a>
					<ul class="sui-nav">
						<li class="active"><a href="#">控制台</a></li>
					</ul>
					<ul class="sui-nav pull-right">
						<li class="sui-dropdown"><a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">admin</a>
							<ul role="menu" class="sui-dropdown-menu">
								<li role="presentation"><a role="menuitem" tabindex="-1" href="#">退出</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1" href="#">关于</a></li>
							</ul>
						</li>
					</ul>
					<form class="sui-form sui-form pull-right">
						<input type="text" placeholder="宝贝/店铺名称...">
						<button class="sui-btn">搜索</button>
					</form>
				</div>
			</div>
		</div>
		<div style="height: 41px;"></div>

	</body>

</html>